:root {
    --scribble-enter-duration: 300ms;
    --scribble-leave-duration: 200ms;
}

.scribble-wrapper {
    @apply relative w-full rounded-md text-gray-950 bg-white shadow-sm ring-1 dark:bg-white/5 dark:text-white focus-within:ring focus-within:ring-primary-600 prose max-w-none dark:prose-invert prose-a:text-blue-500 dark:prose-a:text-blue-400 ring-gray-950/10 dark:ring-white/20 dark:focus-within:ring-primary-500;

    &.invalid {
        @apply ring-danger-600 dark:ring-danger-600;
    }

    &.fullscreen {
        @apply overflow-hidden h-full fixed inset-0 z-50 ring-0;

        .scribble-editor-wrapper {
            @apply flex flex-col h-full overflow-hidden items-center justify-start bg-white dark:bg-gray-900;

            .scribble-controls {
                @apply relative !top-0 pointer-events-auto transition-none rounded-none opacity-100 z-0 py-2 px-4;

                .scribble-enter-fullscreen {
                    @apply hidden;
                }

                .scribble-exit-fullscreen {
                    @apply block;
                }
            }

            .scribble-editor {
                @apply flex-1 max-w-7xl mx-auto overflow-hidden;

                .tiptap {
                    @apply h-full overflow-y-auto;

                    &:focus-visible {
                        @apply outline-none ring-0;
                    }
                }
            }
        }
    }

    &.focused {
        .scribble-block .scribble-block-actions {
            @apply !opacity-100 !pointer-events-auto;
        }

        .scribble-button.active {
            @apply text-primary-500;
        }
    }

    .scribble-editor-wrapper {
        @apply w-full;

        button svg {
            @apply w-5 h-5;
        }

        .scribble-controls {
            @apply opacity-0 pointer-events-none duration-200 absolute top-0 transition-all inset-x-0 flex justify-center z-10;

            .scribble-controls-panel {
                @apply inline-flex px-2 items-center rounded-full border border-gray-950/10 dark:border-white/20 shadow-md bg-gray-700 text-white;
            }

            .scribble-enter-fullscreen {
                @apply block;
            }

            .scribble-exit-fullscreen {
                @apply hidden;
            }
        }

        [data-tippy-root] {
            @apply !z-30;
        }

        &:focus-within .scribble-controls {
            @apply opacity-70 pointer-events-auto -top-10;

            &:hover {
                @apply opacity-100;
            }
        }

        .scribble-editor {
            @apply w-full;

            .tiptap {
                @apply p-4 rounded-lg;

                &:focus-visible {
                    @apply outline-none ;
                }

                *:first-child {
                    @apply mt-0;
                }

                *:last-child {
                    @apply mb-0;
                }

                p.is-empty::before {
                    @apply text-gray-400 dark:text-gray-600;
                    content: attr(data-placeholder);
                    float: left;
                    height: 0;
                    pointer-events: none;
                }

                &.ProseMirror-focused {
                    .ProseMirror-selectednode {
                        @apply outline-2 outline-offset-2 outline-dashed outline-gray-900/50 dark:outline-white/80;
                    }

                    .ProseMirror-gapcursor:after {
                        @apply border-gray-900/50 dark:border-white/80;
                    }

                    .node-scribbleBlock + .ProseMirror-gapcursor {
                        margin-top: 0.5rem;
                    }

                    .node-scribbleBlock + .ProseMirror-gapcursor + .node-scribbleBlock {
                        margin-top: 1rem;
                    }
                }

                .scribble-block {
                    @apply relative bg-gray-900/5 dark:bg-white/5;
                    min-height: 2rem;

                    .loading-block {
                        @apply p-4 flex items-center justify-center gap-3;

                        svg {
                            @apply animate-spin h-5 w-5;

                            circle {
                                @apply opacity-25;
                            }

                            path {
                                @apply opacity-75;
                            }
                        }
                    }

                    .scribble-block-content {
                        @apply transition overflow-hidden relative;
                    }

                    .scribble-block-actions {
                        @apply transition opacity-0 absolute top-0 right-0 p-1 rounded-bl-lg flex items-center bg-gray-950 pointer-events-none;
                        z-index: 1;

                        .scribble-block-action {
                            @apply text-white block rounded p-1 hover:text-primary-500 hover:bg-gray-800;

                            svg {
                                @apply w-4 h-4;
                            }

                            &.block-drag {
                                @apply cursor-grab;
                            }
                        }
                    }
                }

                .node-image {
                    display: inline-block;
                }

                .node-scribbleBlock {
                    min-height: 3rem;
                }

                > div + div {
                    margin-top: 1rem;
                }

                .scribble-grid {
                    @apply grid gap-4;

                    .scribble-grid-column {
                        @apply border border-dashed border-gray-400 p-2 rounded-lg dark:border-gray-600;

                        > * + * {
                            margin-block-start: 1rem;
                        }
                    }
                }

                @media (max-width: theme('screens.sm')) {
                    .scribble-grid[data-stack-at="sm"] {
                        grid-template-columns: 1fr !important;

                        .scribble-grid-column {
                            grid-column: span 1 !important;
                        }
                    }
                }

                @media (max-width: theme('screens.md')) {
                    .scribble-grid[data-stack-at="md"] {
                        grid-template-columns: 1fr !important;

                        .scribble-grid-column {
                            grid-column: span 1 !important;
                        }
                    }
                }

                @media (max-width: theme('screens.lg')) {
                    .scribble-grid[data-stack-at="lg"] {
                        grid-template-columns: 1fr !important;

                        .scribble-grid-column {
                            grid-column: span 1 !important;
                        }
                    }
                }

                span[data-type="mergeTag"] {
                    @apply bg-primary-500/30 dark:bg-primary-500/50;
                }

                div[data-type="details"] {
                    @apply border border-dashed border-gray-400 rounded relative dark:border-gray-500;

                    summary {
                        @apply py-1 px-2 font-bold border-b border-gray-200 dark:border-gray-500;

                        &::marker {
                            content: "";
                            display: none;
                        }
                    }

                    div[data-type="details-content"] {
                        @apply p-2 h-auto;

                        > * + * {
                            margin-block-start: 1rem;
                        }
                    }
                }
            }
        }
    }
}

.scribble-button {
    @apply flex items-center justify-center rounded-sm p-1 bg-transparent hover:text-primary-500 focus:outline-none focus:ring-1 focus:ring-primary-500;
}

.scribble-bubble-menu {
    @apply flex items-center relative text-gray-200 dark:text-gray-800;

    .divider {
        @apply self-stretch w-0 mx-1 border-r border-gray-500 dark:border-gray-700;
    }

    button {
        @apply text-gray-200 dark:text-gray-800 hover:text-primary-500 dark:hover:text-primary-600;

        &.active {
            @apply !text-gray-200 dark:!text-gray-800 bg-primary-500/80;
        }
    }

    .bubble-group {
        @apply flex items-center mx-1 px-1 border-s border-e first:border-s-0 first:ms-0 first:ps-0 last:border-e-0 last:me-0 last:pe-0 border-gray-500;
    }

    .link-preview {
        @apply max-w-xs text-sm px-1 truncate overflow-x-hidden whitespace-nowrap;
    }
}

.scribble-toolbar {
    @apply flex flex-wrap items-center relative rounded-t-md bg-gray-100 text-gray-800 p-1 border-b border-gray-950/10 dark:bg-gray-950 dark:border-white/20 dark:text-gray-300;

    .divider {
        @apply self-stretch w-0 mx-1 -my-1 border-r border-gray-950/10 dark:border-white/20;
    }

    .toolbar-group {
        @apply flex items-center mx-1 px-1 py-1 border-s border-e first:border-s-0 first:ms-0 first:ps-0 last:border-e-0 last:me-0 last:pe-0 border-gray-950/10 dark:border-white/20;
    }

    .toolbar-group + .toolbar-group {
        @apply border-s-0 ms-0 ps-0;
    }
}

.scribble-suggestions,
.scribble-merge-tags {
    @apply w-56 max-h-56 overflow-y-auto text-xs rounded-lg shadow-lg ring-1 ring-gray-950/5 transition dark:ring-white/10;

    .no-blocks {
        @apply p-2 text-gray-200;
    }

    .group-title {
        @apply text-xs my-1 px-2 font-bold;
    }

    button {
        @apply p-2 w-full flex gap-2 items-center cursor-pointer select-none hover:bg-gray-800/40 dark:hover:bg-white/40;

        &.active-option {
            @apply bg-gray-700 dark:bg-white/60;
        }

        .icon {
            @apply shrink-0 rounded-md flex items-center justify-center text-gray-200 dark:text-gray-800;

            svg {
                @apply w-5 h-5;
            }
        }

        .text {
            @apply flex-1 text-left text-gray-200 dark:text-gray-800;

            .label {
                @apply block;
            }

            .description {
                @apply block text-xs text-gray-300 dark:text-gray-700;
            }
        }
    }
}

.tippy-box[data-theme*="scribble-"] {
    @apply bg-gray-800 dark:bg-gray-300 shadow-md;

    .tippy-arrow {
        @apply text-gray-800 dark:text-gray-300;
    }
}

.tippy-box[data-theme="scribble-bubble"] {
    .tippy-content {
        @apply p-1;

        .bubble-group + .bubble-group {
            @apply border-s-0 ms-0 ps-0;
        }
    }
}

.tippy-box[data-theme="scribble-panel"] {
    @apply rounded-lg;

    .tippy-content {
        @apply p-0;
    }
}

.scribble-modal-container:has(.enter-start),
.scribble-modal-container:has(.enter-end),
.scribble-modal-container:has(.leave-start),
.scribble-modal-container:has(.leave-end){
    overflow: hidden;
}

.scribble-modal.fade.enter-start {opacity: 0;}
.scribble-modal.fade.enter-end {opacity: 1; transition: var(--scribble-enter-duration);}
.scribble-modal.fade.leave-start {opacity: 1;}
.scribble-modal.fade.leave-end {opacity: 0; transition: var(--scribble-leave-duration);}

.scribble-modal.pop.enter-start {opacity: 0; transform: scale(0.95);}
.scribble-modal.pop.enter-end {opacity: 1; transform: scale(1); transition: var(--scribble-enter-duration);}
.scribble-modal.pop.leave-start {opacity: 1; transform: scale(1);}
.scribble-modal.pop.leave-end {opacity: 0; transform: scale(0.95); transition: var(--scribble-leave-duration);}

.scribble-modal.slide-from-right.enter-start {transform: translateX(100%);}
.scribble-modal.slide-from-right.enter-end {transform: translateX(0); transition: var(--scribble-enter-duration);}
.scribble-modal.slide-from-right.leave-start {transform: translateX(0);}
.scribble-modal.slide-from-right.leave-end {transform: translateX(100%); transition: var(--scribble-leave-duration);}

.scribble-modal.slide-from-left.enter-start {transform: translateX(-100%);}
.scribble-modal.slide-from-left.enter-end {transform: translateX(0); transition: var(--scribble-enter-duration);}
.scribble-modal.slide-from-left.leave-start {transform: translateX(0);}
.scribble-modal.slide-from-left.leave-end {transform: translateX(-100%); transition: var(--scribble-leave-duration);}

.scribble-modal.slide-from-top.enter-start {transform: translateY(-100%);}
.scribble-modal.slide-from-top.enter-end {transform: translateY(0); transition: var(--scribble-enter-duration);}
.scribble-modal.slide-from-top.leave-start {transform: translateY(0);}
.scribble-modal.slide-from-top.leave-end {transform: translateY(-100%); transition: var(--scribble-leave-duration);}

.scribble-modal.slide-from-bottom.enter-start {transform: translateY(100%);}
.scribble-modal.slide-from-bottom.enter-end {transform: translateY(0); transition: var(--scribble-enter-duration);}
.scribble-modal.slide-from-bottom.leave-start {transform: translateY(0);}
.scribble-modal.slide-from-bottom.leave-end {transform: translateY(100%); transition: var(--scribble-leave-duration);}
