.scribble-wrapper {
    @apply relative w-full rounded-md text-gray-950 bg-white shadow-sm ring-1 dark:bg-white/5 dark:text-white focus-within:ring focus-within:ring-primary-600 prose max-w-none dark:prose-invert prose-a:text-blue-500 dark:prose-a:text-blue-400 ring-gray-950/10 dark:ring-white/20 dark:focus-within:ring-primary-500;

    &.invalid {
        @apply ring-danger-600 dark:ring-danger-600;
    }

    &.fullscreen {
        @apply overflow-hidden h-full fixed inset-0 z-50 ring-0;

        .scribble-editor-wrapper {
            @apply flex flex-col h-full overflow-hidden items-center justify-start bg-white dark:bg-gray-900;

            .scribble-controls {
                @apply relative !top-0 pointer-events-auto transition-none rounded-none opacity-100 z-0 py-2 px-4;

                .enter-fullscreen {
                    @apply hidden;
                }

                .exit-fullscreen {
                    @apply block;
                }
            }

            .scribble-editor {
                @apply flex-1 max-w-7xl mx-auto overflow-hidden;

                .tiptap {
                    @apply h-full overflow-y-auto;

                    &:focus-visible {
                        @apply outline-none ring-0;
                    }
                }
            }
        }
    }

    .scribble-editor-wrapper {
        @apply w-full;

        button svg {
            @apply w-5 h-5;
        }

        .scribble-controls {
            @apply opacity-0 pointer-events-none duration-200 absolute top-0 transition-all inset-x-0 flex justify-center z-10;

            .scribble-controls-panel {
                @apply inline-flex px-2 items-center rounded-full border border-gray-950/10 dark:border-white/20 shadow-md bg-gray-700 text-white;
            }

            .enter-fullscreen {
                @apply block;
            }

            .exit-fullscreen {
                @apply hidden;
            }
        }

        [data-tippy-root] {
            @apply !z-30;
        }

        &:focus-within .scribble-controls {
            @apply opacity-70 pointer-events-auto -top-10;

            &:hover {
                @apply opacity-100;
            }
        }

        .scribble-editor {
            @apply w-full;

            .tiptap {
                @apply p-4 rounded-lg;

                &:focus-visible {
                    @apply outline-none ;
                }

                *:first-child {
                    @apply mt-0;
                }

                *:last-child {
                    @apply mb-0;
                }

                p.is-empty::before {
                    @apply text-gray-400 dark:text-gray-600;
                    content: attr(data-placeholder);
                    float: left;
                    height: 0;
                    pointer-events: none;
                }

                &.ProseMirror-focused {
                    .ProseMirror-selectednode {
                        @apply outline-2 outline-offset-2 outline-dashed outline-gray-900/50 dark:outline-white/80;
                    }

                    .ProseMirror-gapcursor:after {
                        @apply border-gray-900/50 dark:border-white/80;
                    }

                    .node-scribbleBlock + .ProseMirror-gapcursor {
                        margin-top: 0.5rem;
                    }

                    .node-scribbleBlock + .ProseMirror-gapcursor + .node-scribbleBlock {
                        margin-top: 1rem;
                    }

                    .scribble-block .scribble-block-actions {
                        @apply opacity-100;
                    }
                }

                .scribble-block {
                    @apply relative bg-gray-900/5 dark:bg-white/5 rounded-md;
                    min-height: 2rem;

                    .loading-block {
                        @apply p-4 flex items-center justify-center gap-3;

                        svg {
                            @apply animate-spin h-5 w-5;

                            circle {
                                @apply opacity-25;
                            }

                            path {
                                @apply opacity-75;
                            }
                        }
                    }

                    .scribble-block-content {
                        @apply transition rounded-md overflow-hidden relative;
                    }

                    .scribble-block-actions {
                        @apply transition opacity-0 absolute top-0 right-0 p-1 rounded-tr-md rounded-bl-lg flex items-center bg-gray-950;
                        z-index: 1;

                        .scribble-block-action {
                            @apply text-white block rounded p-1 hover:text-primary-500 hover:bg-gray-800;

                            svg {
                                @apply w-4 h-4;
                            }

                            &.block-drag {
                                @apply cursor-grab;
                            }
                        }
                    }
                }

                .node-view-hero .gray { @apply bg-gray-500 text-white; }
                .node-view-hero .grayLight { @apply bg-gray-500 text-white; }
                .node-view-hero .grayDark { @apply bg-gray-500 text-white; }
                .node-view-hero .primary { @apply bg-amber-500 text-black; }
                .node-view-hero .secondary { @apply bg-yellow-500 text-black; }
                .node-view-hero .tertiary { @apply bg-rose-500 text-white; }
                .node-view-hero .accent { @apply bg-indigo-500 text-white; }

                .node-image {
                    display: inline-block;
                }

                .node-scribbleBlock {
                    min-height: 3rem;
                }

                > div + div {
                    margin-top: 1rem;
                }

                .scribble-grid {
                    @apply grid gap-4;

                    .scribble-grid-column {
                        @apply border border-dashed border-gray-400 p-2 rounded-lg dark:border-gray-600;

                        > * + * {
                            margin-block-start: 1rem;
                        }
                    }
                }

                @media (max-width: theme('screens.sm')) {
                    .scribble-grid[data-stack-at="sm"] {
                        grid-template-columns: 1fr !important;

                        .scribble-grid-column {
                            grid-column: span 1 !important;
                        }
                    }
                }

                @media (max-width: theme('screens.md')) {
                    .scribble-grid[data-stack-at="md"] {
                        grid-template-columns: 1fr !important;

                        .scribble-grid-column {
                            grid-column: span 1 !important;
                        }
                    }
                }

                @media (max-width: theme('screens.lg')) {
                    .scribble-grid[data-stack-at="lg"] {
                        grid-template-columns: 1fr !important;

                        .scribble-grid-column {
                            grid-column: span 1 !important;
                        }
                    }
                }
            }
        }
    }
}

.scribble-button {
    @apply flex items-center justify-center rounded-sm p-1 bg-transparent hover:text-primary-500 focus:outline-none focus:ring-1 focus:ring-primary-500;

    &.active {
        @apply text-primary-500;
    }
}

.scribble-bubble-menu {
    @apply flex items-center relative;

    .divider {
        @apply self-stretch w-0 mx-1 border-r border-gray-500;
    }

    .bubble-group {
        @apply flex items-center mx-1 px-1 border-s border-e first:border-s-0 first:ms-0 first:ps-0 last:border-e-0 last:me-0 last:pe-0 border-gray-500;
    }

    .link-preview {
        @apply max-w-xs text-sm px-1 leading-none truncate overflow-hidden whitespace-nowrap;
    }
}

.scribble-toolbar {
    @apply flex items-center relative rounded-t-md bg-gray-100 dark:bg-gray-950 border-b border-gray-950/10 dark:border-white/20 px-1;

    .divider {
        @apply self-stretch w-0 mx-1 border-r border-gray-950/10 dark:border-white/20;
    }

    .toolbar-group {
        @apply flex items-center mx-1 px-1 py-1 border-s border-e first:border-s-0 first:ms-0 first:ps-0 last:border-e-0 last:me-0 last:pe-0 border-gray-950/10 dark:border-white/20;
    }

    .toolbar-group + .toolbar-group {
        @apply border-s-0 ms-0 ps-0;
    }
}

.scribble-suggestions {
    @apply w-56 max-h-56 overflow-y-auto text-xs rounded-lg shadow-lg ring-1 ring-gray-950/5 transition dark:ring-white/10;

    .no-blocks {
        @apply p-2 text-gray-200;
    }

    .group-title {
        @apply text-xs my-1 px-2 font-bold;
    }

    button {
        @apply p-2 w-full flex gap-2 items-center cursor-pointer select-none hover:bg-gray-800/40;

        &.active-option {
            @apply bg-gray-800;
        }

        .icon {
            @apply shrink-0 rounded-md flex items-center justify-center text-gray-200;

            svg {
                @apply w-5 h-5;
            }
        }

        .text {
            @apply flex-1 text-left;

            .label {
                @apply block;
            }

            .description {
                @apply block text-xs text-gray-300;
            }
        }
    }
}

.tippy-box[data-theme*="scribble-"] {
    @apply bg-gray-700 shadow-md;

    .tippy-arrow {
        @apply text-gray-700;
    }
}

.tippy-box[data-theme="scribble-bubble"] {
    .tippy-content {
        @apply p-1;

        .bubble-group + .bubble-group {
            @apply border-s-0 ms-0 ps-0;
        }
    }
}

.tippy-box[data-theme="scribble-panel"] {
    @apply rounded-lg;

    .tippy-content {
        @apply p-0;
    }
}
