.scribble-wrapper {
    &.fullscreen {
        @apply overflow-hidden h-full;

        .scribble-editor-wrapper {
            @apply flex flex-col h-full overflow-hidden items-center justify-start bg-white dark:bg-gray-900;

            .scribble-controls {
                @apply relative top-0 rounded-none opacity-100 z-0 py-2 px-4;

                .enter-fullscreen {
                    @apply hidden;
                }

                .exit-fullscreen {
                    @apply block;
                }
            }

            .scribble-editor {
                @apply flex-1 max-w-7xl mx-auto overflow-hidden;

                .tiptap {
                    @apply h-full overflow-y-auto;

                    &:focus-visible {
                        @apply outline-none ring-0;
                    }
                }
            }
        }
    }

    .scribble-editor-wrapper {

        .scribble-controls {
            @apply opacity-0 transition-opacity duration-200 absolute -top-4 inset-x-0 flex justify-center z-10;

            .scribble-controls-panel {
                @apply bg-gray-700 text-white;
            }

            .enter-fullscreen {
                @apply block;
            }

            .exit-fullscreen {
                @apply hidden;
            }
        }

        &:focus-within .scribble-controls {
            @apply opacity-100;
        }

        .scribble-editor {
            @apply w-full;

            .tiptap {
                @apply p-4 rounded-lg;

                &:focus-visible {
                    @apply outline-none ring-2 ring-primary-600 dark:ring-primary-500;
                }

                *:first-child {
                    @apply mt-0;
                }

                *:last-child {
                    @apply mb-0;
                }

                p.is-empty::before {
                    @apply text-gray-400 dark:text-gray-600;
                    content: attr(data-placeholder);
                    float: left;
                    height: 0;
                    pointer-events: none;
                }

                .node-hero .gray { @apply bg-gray-500 text-white; }
                .node-hero .grayLight { @apply bg-gray-500 text-white; }
                .node-hero .grayDark { @apply bg-gray-500 text-white; }
                .node-hero .primary { @apply bg-amber-500 text-black; }
                .node-hero .secondary { @apply bg-yellow-500 text-black; }
                .node-hero .tertiary { @apply bg-rose-500 text-white; }
                .node-hero .accent { @apply bg-indigo-500 text-white; }

                &.ProseMirror-focused {
                    .ProseMirror-selectednode {
                        @apply outline-2 outline-offset-2 outline-dashed outline-gray-900/50 dark:outline-white/80;
                    }

                    .ProseMirror-gapcursor:after {
                        @apply border-gray-900/50 dark:border-white/80;
                    }

                    .node-scribbleBlock + .ProseMirror-gapcursor {
                        margin-top: 0.5rem;
                    }

                    .node-scribbleBlock + .ProseMirror-gapcursor + .node-scribbleBlock {
                        margin-top: 1rem;
                    }
                }

                .node-image {
                    display: inline-block;
                }

                .node-scribbleBlock {
                    min-height: 3rem;
                }

                > div + div {
                    margin-top: 1rem;
                }

                .scribble-grid {
                    @apply grid gap-4;

                    .scribble-grid-column {
                        @apply border border-dashed border-gray-400 p-2 rounded-lg dark:border-gray-600;

                        > * + * {
                            margin-block-start: 1rem;
                        }
                    }
                }

                .filament-tiptap-grid[type^="asymetric"] {
                    grid-template-columns: 1fr;
                    grid-template-rows: auto;
                }

                @media (max-width: theme('screens.sm')) {
                    .scribble-grid[data-stack-at="sm"] {
                        grid-template-columns: 1fr !important;

                        .scribble-grid-column {
                            grid-column: span 1 !important;
                        }
                    }
                }

                @media (max-width: theme('screens.md')) {
                    .scribble-grid[data-stack-at="md"] {
                        grid-template-columns: 1fr !important;

                        .scribble-grid-column {
                            grid-column: span 1 !important;
                        }
                    }
                }

                @media (max-width: theme('screens.lg')) {
                    .scribble-grid[data-stack-at="lg"] {
                        grid-template-columns: 1fr !important;

                        .scribble-grid-column {
                            grid-column: span 1 !important;
                        }
                    }
                }
            }
        }
    }
}

.tippy-box[data-theme*="scribble-"] {
    @apply bg-gray-700 shadow-md;

    .tippy-arrow {
        @apply text-gray-700;
    }
}

.tippy-box[data-theme="scribble-panel"] {
    @apply rounded-lg;

    .tippy-content {
        @apply p-0;
    }
}
